.syntaxError {
    border-bottom: 5px dotted red;
}

.button.light {
    background-color: #4ABDAC;
    color: #EEE;
}

.button.medium {
    background-color: #F78733;
    color: #EEE;
}

.button.dark {
    background-color: #FC4A1A;
    color: #EEE;
}

.button {
    border: 10px solid #DEDCE3;
    border-radius: 20px;
    padding: 20px 20px;
    font-size: x-large;
}

.button:hover,
.button:focus {
    text-decoration: none;
}

.label {
    float: left;
    font-size: small;
    color: #EEE;
}

.display {
    text-align: right;
    font-size: xx-large;
    background-color: #F78733;
    padding: 0.618rem 1.618rem;
    color: #333;
    border-radius: 10px;
    margin: 5px 0px;
}

.historyButton {
    float: left;
    vertical-align: bottom;
    font-size: small;
}
