<div class="row">
<div class="col-xs-12">    
    <div class="display">
        <div><span class="label">Expression</span></div>
        <div><button (click)="showHistory()" class="historyButton">H</button></div>
        {{ expression }}<span class="syntaxError">{{ syntaxError }}</span>
    </div>
</div>
</div>

<div class="row">
<div class="col-xs-12">
    <div class="display">
        <span class="label">Eval</span>
        <span *ngIf="!displayError">{{ eval }}</span>
        <span *ngIf="displayError">Error</span>
    </div>
</div>
</div>

<div class='row'>
<button (click)="pressDigit('1')" class="button light col-xs-4">1</button>
<button (click)="pressDigit('2')" class="button light col-xs-4">2</button>
<button (click)="pressDigit('3')" class="button light col-xs-4">3</button>
</div>
<div class='row'>  
<button (click)="pressDigit('4')" class="button light col-xs-4">4</button>
<button (click)="pressDigit('5')" class="button light col-xs-4">5</button>
<button (click)="pressDigit('6')" class="button light col-xs-4">6</button>    
</div>
<div class='row'>
<button (click)="pressDigit('7')" class="button light col-xs-4">7</button>
<button (click)="pressDigit('8')" class="button light col-xs-4">8</button>
<button (click)="pressDigit('9')" class="button light col-xs-4">9</button>
</div>

<div class="row">
<button (click)="pressOperator('+')" class="button dark col-xs-4">+</button>
<button (click)="pressOperator('*')" class="button dark col-xs-4">*</button>

<button (click)="pressEval()" class="button dark col-xs-4">=</button>
</div>

<div class="row">
<button (click)="pressLeftBracket()" class="button dark col-xs-4">(</button>
<button (click)="pressRightBracket()" class="button dark col-xs-4">)</button>
<button (click)="pressClear()" class="button medium col-xs-4">C</button>
</div>

<div class="row">
    <div class="col-xs-8 col-xs-offset-4">
        <table class="table" *ngIf="displayHistory">
            <thead>
                <tr>
                    <th>Expression</th>
                    <th></th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let h of history">
                    <td>{{ h.expression }}</td>
                    <td>=</td>
                    <td>{{ h.eval }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>